body {
    padding: 0;
    margin: 0;
    background-color: #FBFBFB;
} 

* {
    font-family: "BPG Arial Caps", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(212, 212, 212, 0.20);
}

.header__container {
    height: 95px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    color: #696974;
    font-size: 36px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}


.header__menu {}

.header__menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 22px
}

.header__menu__list-item {
    color: #696974;
    font-size: 16px;
    text-decoration: none;
}

.header__buttons {
    display: flex;
    gap: 16px;
    margin-left: 32px;
}

.button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    width: 120px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
}

.button--stroked {
    border: 1px solid #008FDC;
}

.button--blue {
    background-color: #008FDC;
    color: #fff;
    transition: all .3s ease;
}

.button--blue:hover {
    background-color: #0078B7;
}



.company__list {
    width: 1140px;
    height: 232px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-top: 20px;
}

.company {
    width: 259px;
    height: 232px;
    display: grid;
    place-items: center;
    box-shadow: 1px 1px 1px rgba(212, 212, 212, 0.50);
}



.company__box {
    width: 182px;
    height: 190px;
    text-align: center;
}

.company__logo {
    width: 80px;
    height: 80px;
}

.company__name {
    font-size: 18px;
    color: #000000;
    
}

.company__class {
    font-size: 13px;
    color: #999999;
    margin-bottom: 34px;
}

a {
    font-size: 14px;
}

.title {
    font-size: 26px;
    color: #696974;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    border-left: 2px solid #AE6AFE;
    margin-top: 20px;

}

.info__box {
    margin-top: 77.3px;
}

.info__box__list {
    width: 843px;
    height: 95px;
    display: flex;
    box-shadow: 1px 1px 1px rgba(212, 212, 212, 0.50);
}

.box__list__items {
    width: 676.23px;
    height: 50px;
    margin-top: 20.39px;
    margin-left: 15.47px;
    display: flex;
    align-items: center;
    
}

.box__list__icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
}

.left__list__titles {
    margin-left: 17.65px;
}

.right__list__titles {
    margin-left: 326.44px;
}

.title__name {
    margin-bottom: 3.08px;
    font-size: 18px;
    font-family: "BPG Arial Caps", sans-serif;
    color: #696974;
}

.facebook {
    margin-top: 3.08px;
    font-size: 16px;
    color: #3930D8;
}

.right__title {
    margin-bottom: 3.24px;
    font-size: 12px;
    color: #999999;
}

.location {
    margin-top: 3.24px;
    font-size: 12px;
    color: #999999;
}

.info__box__button {
    background-color: #008FDC;
    color: #fff;
    transition: all .3s ease;
    margin-top: 23.65px;
    margin-bottom: 26.35px;
}








 